{% extends "base.html" %}

{% block content %}
    <h1>
        ChatWeb
    </h1>

    <p>My Chats</p>
    <div>
        <ul>
            {% for chat in available_chats %} 
                <li>
                    <a href="{% url 'chat_interaction_view' chat.id %}">{{ chat.name }}</a>
                    Users: 
                    {% for user in chat.users.all %}
                        {{ user }},
                    {% endfor %}
                </li> 
            {% endfor %}
        </ul>
    </div>

    <h2>Create new chat</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create</button>
  </form>

{% endblock %}