{% extends "base.html" %}

{% block content %}
    <h1>
        {{ chat.name }}
    </h1>

    <div>
        <ul>
            {% load humanize %}
            {% for message in messages %}
                <li>
                    <a href="{% url 'profile_view' message.sender.id %}"><p><strong> {{ message.sender.user.username }}: </strong></p></a>
                    <p>{{ message.text }} <em>{{ message.date_sent|timesince }} ago</em></p> 
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send</button>
        </form>
        {% else %}
        <p>If you want to chat <a href="{% url 'signin' %}">sign in</a> or <a href="{% url 'signup' %}">sign up</a>
        </p>
        {% endif %}
    </div>
{% endblock %}