{% extends "base.html" %}

{% block content %}
    <h1>
        {{ chat.name }}
    </h1>

    <div id="messages"></div>

    <form id="form">
      <input type="text" name="message"/>
    </form>

    <script type="text/javascript">
      let chat_id = "{{ chat.id }}";
      let url = `ws://${window.location.host}/ws/chat/${chat_id}/`
      const chatSocket = new WebSocket(url)

      chatSocket.onmessage = function(e){
          let data = JSON.parse(e.data)
          console.log('Data:', data)
          if(data.type === 'chat'){
                let messages = document.getElementById('messages')

                messages.insertAdjacentHTML('beforeend', `
                <ul>
                  <li>
                    <img src="${data.profile_pic}" alt="{{ message.sender.user.username }}" width="50" height="50">
                    <p>${data.profile_name}</p>
                    <p>${data.message}</p>
                  </li>
                </ul>`)
            }
      }

      let form = document.getElementById('form')
      form.addEventListener('submit', (e)=> {
        e.preventDefault()
        let message = e.target.message.value

        chatSocket.send(JSON.stringify({
          'message': message,
          'sender': "{{ request.user.profile.id }}",
        }))
        form.reset()
      })

    </script>

{% endblock %}
